body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: hsl(217, 19%, 35%);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h4 {
  font-weight: 700;
  font-size: 16px;
}

.card {
  background-color: #fff;
  width: 80%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10px;
  position: absolute;
}

.article-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 8px 16px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 10px 10px 0;
}

.container-author {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-name {
  max-height: 50px;
  padding: 2px 8px;
}

.container-name p {
  padding: 0;
  margin: 0;
}

.container-name p:first-of-type {
  font-weight: bold;
}

.img-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.tooltip {
  position: relative;
  display: inline-block;
  background-color: hsl(217, 19%, 35%);
  border: none;
  box-shadow: none;
  color: hsl(210, 46%, 95%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.tooltip .tooltiptext {
  display: none;
  width: 160px;
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 10px 20px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 20%;
  margin-left: -85px;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip .tooltiptext a, .mobile-share a {
  text-decoration: none;
  color: hsl(210, 46%, 95%);
  font-size: 30px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.mobile-share {
  display: none;
  border-radius: 0px 0px 10px 10px;
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
  z-index: 1;
  width: 100%;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 3px;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width:305px) {
  .card {
    width: 70%;
  }

  .container, .container-author {
    border-radius: 0px 0px 10px 10px;
  }

  .article-img {
    border-radius: 10px 10px 0px 0px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}

@media screen and (min-width:475px) {
  .card {
    width: 60%;
  }


}

@media screen and (min-width:575px) {
  .card {
    width: 50%;
  }

}

@media screen and (min-width:675px) {
  .card {
    width: 40%;
  }

}

@media screen and (min-width:775px) {
  .card {
    display: flex;
    width: 50%;
    height: 300px;
  }

  .container, .container-author {
    border-radius: 0px 10px 10px 0px;
  }

  .article-img {
    border-radius: 10px 0px 0px 10px;
  }

  .article-img {
    width: 30%;
    object-fit: cover;
  }

  .desktop {
    display: flex;
  }

  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1080px) {
  .card {
    height: 250px;
  }
